<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXscQ5171MbiocEnkY-h3YZrH0kbXiYzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1086070277189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getdigitalpayments</string>
	<key>PROJECT_ID</key>
	<string>digital-payments-52cac</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-payments-52cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086070277189:ios:e22b56ae65469b23f68f2c</string>
</dict>
</plist>